{namespace bitex.ui.Dialog.templates}

/**
  * @param id
  * @param title
  */
{template .Dialog}
<div id="{$id}" class="modal" role="dialog">
  <div class="modal-header">
    <a class="close" href="javascript:;">×</a>
    <h3 class="modal-title" >{$title}</h3>
  </div>
  <div class="modal-body"></div>
  <div class="modal-footer"></div>
</div>
{/template}