{namespace bitex.ui.OrderManager.templates}

/**
 * @param dataClientOrderId
 * @param? dataOrderId
 */
{template .CancelOrder}
  <button class="btn btn-sm btn-danger" data-action="cancel"
    data-client-order-id="{$dataClientOrderId}" data-order-id="{$dataOrderId}">
    {msg desc="cancel"}cancel{/msg}
  </button>
{/template}

