{namespace bitex.ui.WebCamQR.templates}

/**
  * @param id
  */
{template .Video}
  <video id="{$id}_video" autoplay width="400"></video>
  <canvas id="{$id}_canvas" style="display:none" width="400" height="300"></canvas>
{/template}
