.forgot-password {
    list-style: none;
    margin: 0;

    > li {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @include media-query(desk) {
        width: 30%;
    }
}

.forgot-password__label {
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 3px;
}

.forgot-password__btn {
    display: block;
    width: 100%;

    @include media-query(desk) {
        display: inline-block;
        width: auto;
    }
}
