.head {
    @include box-shadow(0 1px 6px rgba(#000, .3));
    @include background-image(linear-gradient(lighten(#222, 5%), #222));

    color:#fff;
    font-size:14px;
    padding:18px 0 ;
    position:relative;
    z-index:222;

    @include media-query(desk) {
        padding: 0;
    }
}

.head__nav {
    background-color:#eee;
    height: 100%;
    padding:$half-spacing;

    @include media-query(portable) {
        @include border-radius(4px);

        margin-top: 18px;
        display: none;
    }

    @include media-query(desk) {
        background-color:transparent;
        padding:0;
    }
}

.head__nav--open {
    @include media-query(portable) {
        display: block;
    }
}

.head__btn {
    border-radius: 4px;
    background-color: #FFF;
    color: #333;
    cursor: pointer;
    float: right;
    padding: 6px;

    > img {
        display: block;
    }

    @include media-query(desk) {
        display: none;
    }
}

.head__nav-left,
.head__nav-right {
    line-height:1;
    list-style:none;
    margin:0;

    > li {
        position:relative;

        > a {
            color: #323232;

            &:hover {
                text-decoration:none;
            }
        }

        > span {
            background-color: #565656;

            &:hover {
                cursor:default;
            }
        }
    }

    @include media-query(desk) {
        > li {

            &:hover {
                > a,
                > span {
                    @include box-shadow(inset 0 0 10px 1px rgba(0,0,0,.2));
                    background-color: #FFF;
                    color: #323232;
                }

                .head-dropdown {
                    display:block;
                }
            }

            > a,
            > span {
                background-color: transparent;
                color:#d7d7d7;
                display:block;
                padding:12px 18px;
            }
        }
    }
}

.head-dropdown {
    background-color: #FFF;
    left: 0;
    top: 38px;
    list-style:none;
    margin:0;
    z-index: 333;

    > li {
        border-bottom: 1px solid #eee;

        > a {
            display:block;
            padding: 12px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    @include media-query(desk) {
        -webkit-box-shadow: 1px 0 6px rgba(0,0,0,.3);
        -moz-box-shadow: 1px 0 6px rgba(0,0,0,.3);
        box-shadow: 1px 0 6px rgba(0,0,0,.3);

        display:none;
        padding:4px;
        position: absolute;
        width: 180px;

        > li {
            > a {
                padding: 8px;
            }
        }
    }
}

.head-dropdown--right {
    left: auto;
    right: 0;
}

.head__nav-left {
    @include cf();

    > li {
        border-bottom:1px solid #bbb;

        > a,
        > span {
            display:block;
            padding:$half-spacing;
        }
    }

    @include media-query(desk) {
        > li {
            border-bottom:none;
            float:left;

            > a {
            }

            &:first-child {
            }

            &:last-child {
            }
        }
    }
}

.head__nav-right {
    > li {
        border-bottom:1px solid #bbb;

        > a,
        > span {
            display:block;
            padding:$half-spacing;
        }

        &.head__nav-last-item {
            border-bottom:none;
        }
    }

    @include media-query(desk) {
        float:right;

        > li {
            border-bottom:none;
            float:left;

            &:first-child {
            }

            &:last-child {
            }
        }
    }
}
