.logo {
    @include inline-block();

    color:#eee;
    font-family:$brand-face;
    font-size:24px;
    font-weight:bold;
    line-height:1;
    padding: 4px 0;

    &:hover {
        color:#fff;
        text-decoration:none;
    }

    @include media-query(desk) {
        padding:($half-spacing / 2) 0;
    }
}

.logo__img,
.logo__text {
    @include inline-block(bottom);
}

.logo__text {
    > span {
        font-weight:normal;
    }
}
