.tk-vera-sans {
  font-family: "vera-sans",sans-serif;
}

html, body {
  color: black;
  background-color: #eee;
}

body {
  padding-bottom: 40px;
  font-size: 12px;
}


/* The white background content wrapper */
.page {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.section-title {
}

/* Give a quick and non-cross-browser friendly divider */
.sidebar {
  margin-left: 0;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

.footer {
  text-align: center;
  padding: 10px 0;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
}
.footer-links li:first-child {
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}

.bitex-broker .bitex-display-if-broker {
  display: block;
}
.bitex-non-broker .bitex-display-if-broker {
  display: none;
}
.bitex-broker .bitex-display-if-non-broker {
  display: none;
}
.bitex-non-broker .bitex-display-if-non-broker {
  display: block;
}

.bitex-logged .bitex-display-if-logged {
  display: block;
}

.ws-connected .bitex-display-if-ws-connected {
  display: block;
}

.bitex-not-logged .bitex-hide-if-logged {
  display: block;
}

.ws-not-connected .bitex-hide-if-ws-connected {
  display: block;
}

.bitex-not-logged .bitex-display-if-logged {
  display: none;
}

.bitex-logged .bitex-hide-if-logged {
  display: none;
}

.ws-connected .bitex-hide-if-ws-connected {
  display: none;
}

.ws-not-connected .bitex-display-if-ws-connected {
  display: none;
}

.jumbotron {
  position: relative;
  text-align: center;
}

.signup {
  background-color: #F6F6F6;
  border-bottom: 1px solid #E3E3E3;
  margin: -20px -20px 0 -20px;
  padding: 20px;
}


#id_btn_buy,
#id_btn_sell {
  width: 107px;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}


/*  Form Login */

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


/* Execution report status */
.order-manager-pending {
  background-color: #00ffff;
}

.order-manager-new {
}

.order-manager-partial {
  background-color: #e0ffff;
}

.order-manager-fill,
.order-manager-fill-cancel {
  background-color: #03DDDD;
}

.order-manager-cancel,
.order-manager-rejected {
  background-color: #f08080;
}


input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

ul.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type:none;
}
ul.parsley-error-list li {
  line-height: 11px;
}

.account-activity-buy {
  background-color: lightgreen;
}

.account-activity-sell {
  background-color: lightcoral;
}

.last-trades-row {
  font-size: 14px;
}

.last-trades-row td {
  line-height: 2px;
}

.order-book-drag td {
  border-top-color: red;
} 


.order-book-row {
  font-size: 14px;
}
.order-book-row td {
  line-height: 2px;
}
.order-book-qty,
.order-book-price {
 cursor: crosshair; 
}

.order-book-movable td.order-book-price,
.order-book-movable td.order-book-qty {
  cursor: move;
}

.order-book-drag-order {
  background-color: red;
  padding: 5px;
  cursor: move;
}

.md-blink,
.order-manager-blink,
.balance-info-blink,
.order-book-blink {
  background-color: #ffff00;
}


#social-shares-wrap {
	position: fixed;
	margin-right:10px;
	z-index: 2;
}
.social-shares {
    float: right;
    /* max-width: 310px; Removed to fix resize bugs */
    /* height: 25px; Removed to fix resize bugs */
    background: white;
    padding: 10px 10px 10px 10px;
    border: 1px solid #CCC;
    border-top: 0;
    width: 265px;
    box-shadow: 0 0px 5px #CCC;
    border-radius: 0 0 5px 5px;
}
.social-shares .tw-wrap,
.social-shares .fb-wrap,
.social-shares .gp-wrap {
	float: left;
    width:80px;
}
.social-shares .gp-wrap {
	margin-left: 16px;
}

@media screen and (min-width: 0px) and (max-width: 640px) {
  #login { display: none; }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  #login { display: block; } 
}

.btn-cancel-order {
  text-decoration: none !important;
}


.simple-order-entry-text {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.order-entry {
}
.order-entry-data {
  margin-bottom: 5px;
}
.order-entry-data input {
  text-align:right;
  width: 89%;
}
.order-entry-label {
  padding:5px 5px 0 0;
  text-align: right;
}
@media (max-width: 767px) {
  .order-entry-label {
    text-align: left;
  }
}


.order-entry-simple-heading {
  padding: 45px 70px 15px;
}

.order-entry-simple h1 {
  margin: 10px 0 0;
}

.order-entry-simple-body {
  padding: 0 75px;
}

.order-entry-simple-data {
  margin-bottom: 5px;
}
.order-entry-simple-data input {
  text-align:right;
  width: 89%;
}



.notifications {
  position: fixed;
}

/* Positioning */
.notifications.top-right {
  right: 10px;
  top: 25px;
}

.notifications.top-left {
  left: 10px;
  top: 25px;
}

.notifications.bottom-left {
  left: 10px;
  bottom: 25px;
}

.notifications.bottom-right {
  right: 10px;
  bottom: 25px;
}

/* Notification Element */
.notifications > div {
  position: relative;
  z-index: 9999;
  margin: 5px 0px;
}



/**
 * bangTidy2 Style - Ported from Growl Style
 * Ported By Nijikokun @vizualover @nijikokun
 * Original Author Daryl Ginn
 * Based On http://dribbble.com/shots/527056-Growl-Theme-2
 *
 * To use, for style use: bangTidy
 *
 */
.alert-bangTidy {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgba(0, 0, 0, 0.80);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.88) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.80)), color-stop(100%,rgba(0, 0, 0, 0.88)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.80) 0%,rgba(0, 0, 0, 0.88) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.80)', endColorstr='rgba(0, 0, 0, 0.88)',GradientType=0 );
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.07), inset 0 0 0 1px rgba(255,255,255,0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  color: white;
  -webkit-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  -o-text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}


/**
 * alert-blackgloss.css v1.0
 * --
 * Based off blackgloss growl theme.
 * Copyright 2012 Nijiko Yonskai
 * --
 * Usage:
 *   Set style to `blackgloss` and include this css.
 *
 * Note:
 *   The gloss is only supported in webkit based browsers.
 *   Chrome and Safari.
 */
@-webkit-keyframes notification {
	0% { -webkit-transform: rotateY(-90deg); opacity: 0; }
	70% { -webkit-transform: rotateY(20deg); opacity: .8; }
	90% { -webkit-transform: rotateY(-10deg); opacity: 1; }
	100% { -webkit-transform: rotateY(-0deg); opacity: 1; }
}

@-moz-keyframes notification {
	0% { -webkit-transform: rotateY(-90deg); opacity: 0; }
	70% { -webkit-transform: rotateY(20deg); opacity: .8; }
	90% { -webkit-transform: rotateY(-10deg); opacity: 1; }
	100% { -webkit-transform: rotateY(-0deg); opacity: 1; }
}

@-o-keyframes notification {
	0% { -webkit-transform: rotateY(-90deg); opacity: 0; }
	70% { -webkit-transform: rotateY(20deg); opacity: .8; }
	90% { -webkit-transform: rotateY(-10deg); opacity: 1; }
	100% { -webkit-transform: rotateY(-0deg); opacity: 1; }
}

keyframes notification {
    0% { -webkit-transform: rotateY(-90deg); opacity: 0; }
    70% { -webkit-transform: rotateY(20deg); opacity: .8; }
    90% { -webkit-transform: rotateY(-10deg); opacity: 1; }
    100% { -webkit-transform: rotateY(-0deg); opacity: 1; }
  }

/* Webkit Only */
.alert-blackgloss:before {
  background: -webkit-gradient(linear, 0% -16.5%, 16.5% -100%, from(rgba(255,255,255,.0)), to(rgba(255,255,255,.6)), color-stop(.99,rgba(255,255,255,.2)),color-stop(.5,rgba(255,255,255,.0))) no-repeat;
  -webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.5)), color-stop(.8,rgba(255,255,255,.0)));
  position: absolute;
  content: '.';
  line-height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
  -webkit-border-radius: 5px;
}

.alert-blackgloss {
  -webkit-animation: notification .75s linear;
  -moz-animation: notification .75s linear;
  -ms-animation: notification .75s linear;
  -o-animation: notification .75s linear;
  animation: notification .75s linear;
  background: rgba(0,0,0,1);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(255,255,255,.1);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(255,255,255,.1);
  -ms-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(255,255,255,.1);
  -o-box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(255,255,255,.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.5), inset 0 1px 0 rgba(255,255,255,.2), inset 0 0 0 1px rgba(255,255,255,.1);
  border: 1px solid rgba(0,0,0,.95);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
  color: #fff;
  -webkit-transform: rotateY(-0deg);
  -moz-transform: rotateY(-0deg);
  -o-transform: rotateY(-0deg);
  transform: rotateY(-0deg);
  position: relative;
  background-clip: padding-box;
}

.alert-blackgloss .close {
  position: relative;
  top: -3px;
  right: -25px;
  color: #fff;
  content: 'x';
}

.api-key-data-entry-form {
  position: relative;
  margin: 15px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.api-key-data-entry-form-permissions-table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.api-key-data-entry-form-block {
  background-color: #f9f9f9;
  padding: 10px 20px 15px;
  margin: 15px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.api-key-data-entry-form h2 {
  font-weight: 300;
  font-size: 21px;
  border-bottom: 1px solid #e5e5e5;
}

.api-key-data-entry-form h3 {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 10px;
}

.api-key-data-entry-form h4 {
  margin: 15px 0 10px;
  font-weight: 300;
}

.api-key-data-entry-form-pipe {
  margin-left: 7px;
  margin-right: 7px;
}


.ledger-activity-credit {
  background-color: lightcyan
}

.ledger-activity-debit {
  background-color: lightpink;
}

.account-summary-broker {
  cursor: pointer;
}

.account-summary-broker-selected {
  background-color: gainsboro;
}

.market-view-table-selected {
  background-color: burlywood;
}

.withdraw-method-editor-field-side{
    width: 75px;
}
.withdraw-method-editor-field-type {
    width: 60px;
}

.withdraw-method-editor-field-validator {
    width: 130px;
}

.withdraw-method-editor-field-name,
.withdraw-method-editor-field-label {
    width: 120px;
}

.withdraw-method-editor-field-value {
    width: 60px;
}


.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.net-amount {
  font-weight: bold;
  color: #b94a48;
}

