    <footer class="footer">
      <div class="container">
        <p>
          {% if page.load_application %}
          <a href="" data-switch-view="admin">admin</a> |
          Latency: <span class="bitex-model" data-model-key="latency">0</span> ms |
          Version: {{ site.deploy_version }} |
          {% endif %}
          <a href="http://blinktrade.com/" target="_blank">© 2014 BlinkTrade Inc</a>
          | <a href="https://github.com/blinktrade/" target="_blank">Proudly 100% open source <span class="bitex-model" data-model-key="JSVersion"></span></a>
          | <a href="http://nytm.org/made-in-nyc/" target="_blank">Made with <span style="color: #d11f0d;font-size: 19px;">♥</span> in NYC</a>
        </p>
      </div>
    </footer>


    {% if page.load_application %}
    <script data-cfasync="false" type="text/javascript">
      var _app;  // global application object
      (function(){
        var broker_id = {% if page.blinktrade_broker_id %}{{ page.blinktrade_broker_id}}{% else %}{{ site.blinktrade_broker_id}}{% endif %};
        var country_code = "{% if page.default_country_code %}{{ page.default_country_code}}{% else %}{{ site.default_country_code}}{% endif %}";
        var blinktrade_api = "{% if page.blinktrade_backend_api %}{{ page.blinktrade_backend_api}}{% else %}{{ site.blinktrade_backend_api}}{% endif %}";

        _app = new BlinkTradeApp(broker_id, country_code );
        _app.run(blinktrade_api);
      })();
    </script>
    {% endif %}

    {% if site.google_analytics_id %}
    <script data-cfasync="false" type="text/javascript">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', '_gat');

      _gat('create', '{{ site.google_analytics_id }}', 'auto');
      _gat('send', 'pageview');

    </script>
    {% endif %}

    {% if site.zopim_key %}
    <!--Start of Zopim Live Chat Script-->
    <script data-cfasync="false" type="text/javascript">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
          d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
          _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='https://v2.zopim.com/?{{ site.zopim_key }}';z.t=+new Date;$.
            type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->
    {% endif %}

  </body>
</html>
