<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta charset="utf-8">
    {% case site.exchange %}
      {% when 'chilebit' %}
        <title>{% t exchanges.chilebit.title %}</title>
      {% when 'surbitcoin' %}
        <title>{% t exchanges.surbitcoin.title %}</title>
      {% when 'urdubit' %}
        <title>{% t exchanges.urdubit.title %}</title>
      {% when 'foxbit' %}
        <title>{% t exchanges.foxbit.title %}</title>
      {% else %}
        <title>{% t exchanges.demo.title %}</title>
    {% endcase %}

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author }}">

    {% case site.exchange %}
      {% when 'chilebit' %}
        <meta name="description" content="{% t exchanges.chilebit.description %}">
        <meta name="keywords" content="{% t exchanges.chilebit.keywords %}">
        <meta property="og:title" content="{% t exchanges.chilebit.title %}">
        <meta property="og:description" content="{% t exchanges.chilebit.description %}">
      {% when 'surbitcoin' %}
        <meta name="description" content="{% t exchanges.surbitcoin.description %}">
        <meta name="keywords" content="{% t exchanges.surbitcoin.keywords %}">
        <meta property="og:title" content="{% t exchanges.surbitcoin.title %}">
        <meta property="og:description" content="{% t exchanges.surbitcoin.description %}">
      {% when 'urdubit' %}
        <meta name="description" content="{% t exchanges.urdubit.description %}">
        <meta name="keywords" content="{% t exchanges.urdubit.keywords %}">
        <meta property="og:title" content="{% t exchanges.urdubit.title %}">
        <meta property="og:description" content="{% t exchanges.urdubit.description %}">
      {% when 'foxbit' %}
        <meta name="description" content="{% t exchanges.foxbit.description %}">
        <meta name="keywords" content="{% t exchanges.foxbit.keywords %}">
        <meta property="og:title" content="{% t exchanges.foxbit.title %}">
        <meta property="og:description" content="{% t exchanges.foxbit.description %}">
      {% else %}
        <meta name="description" content="{% t exchanges.demo.description %}">
        <meta name="keywords" content="{% t exchanges.demo.keywords %}">
        <meta property="og:title" content="{% t exchanges.demo.title %}">
        <meta property="og:description" content="{% t exchanges.demo.description %}">
    {% endcase %}

    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_social_network_share.png">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_favicon.ico">
    <link rel="icon" href="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_favicon.ico" type="image/x-icon">

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

    <meta charset="utf-8">

    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
    <script type="text/javascript" src="//apis.google.com/js/plusone.js"></script>

    <!--Bootstrap-->
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/font-awesome.min.css" rel="stylesheet">

    {% if page.load_application %}
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/Dialog.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/fuelux.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/default.uni-form.css" rel="stylesheet">
    <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/style.css?v={{ site.deploy_version }}" rel="stylesheet">
    <script data-cfasync="false" src="{{ site.url }}{{ site.baseurl }}/assets/js/bitex_app_blink_trade.compiled.{{site.lang}}.default.js?v={{ site.deploy_version }}" type="text/javascript"></script>
    {% endif %}
  </head>
  <body class="{% if page.body_classes %} {{ page.body_classes }} {% endif %}">

    <div id="id_toolbar" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          {% if page.load_application %}
          <a href="#" class="brand" data-switch-view="offerbook">
            <img data-switch-view="offerbook" src="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_toolbar_logo.png" style="
                height: 30px;
                margin-top: -10px;
                margin-bottom: -10px;
            ">
          </a>
          {% else %}
          <a class="brand" href="{{ site.url }}{{ site.baseurl }}/">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_toolbar_logo.png" style="
                height: 30px;
                margin-top: -10px;
                margin-bottom: -10px;
            ">
          </a>
          {% endif %}

          <ul class="nav navbar-nav pull-right">
            {% if page.load_application %}
            <li><a href="" data-switch-view="faq">{% t views.toolbar.faq %}</a></li>
            <li class="bitex-display-if-logged"><a href="" data-switch-view="offerbook">{% t views.toolbar.trading %}</a></li>
            <li><a href="" data-switch-view="market">{% t views.toolbar.market %}</a></li>
            <li class="bitex-hide-if-logged"><a href="" data-switch-view="signin">{% t views.toolbar.signin %}</a></li>
            <li class="bitex-hide-if-logged"><a href="" data-switch-view="signup">{% t views.toolbar.signup %}</a></li>
            {% endif %}

            <li class="dropdown">
              <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ site.lang|upcase }} <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              {% for lang in site.languages %}
                {% if  lang != site.lang  %}
                  {% if forloop.first %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.url }}{{ site.baseurl_root }}/">{{ lang|upcase }}</a></li>
                  {% else %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.url }}{{ site.baseurl_root }}/{{lang}}">{{ lang|upcase }}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </ul>
            </li>

            {% if page.load_application %}
            <li>
              <button id="id_button_connect_ws" class="bitex-hide-if-ws-connected btn-link"
                      style="padding: 6px 15px 10px;">{% t views.toolbar.connect %} <i class="icon-white icon-repeat"></i></button>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="clearfix" style="padding: 30px;"></div>

    <div id="id_notifications" class="notifications top-right" style="z-index: 9000;"></div>


