<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  {% case site.exchange %}
    {% when 'chilebit' %}
      <title>{% t exchanges.chilebit.title %}</title>
    {% when 'surbitcoin' %}
      <title>{% t exchanges.surbitcoin.title %}</title>
    {% else %}
      <title>{% t exchanges.demo.title %}</title>
  {% endcase %}

  <!-- Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ site.author }}">

  {% case site.exchange %}
    {% when 'chilebit' %}
      <meta name="description" content="{% t exchanges.chilebit.description %}">
      <meta name="keywords" content="{% t exchanges.chilebit.keywords %}">
      <meta property="og:title" content="{% t exchanges.chilebit.title %}">
      <meta property="og:description" content="{% t exchanges.chilebit.description %}">
    {% when 'surbitcoin' %}
      <meta name="description" content="{% t exchanges.surbitcoin.description %}">
      <meta name="keywords" content="{% t exchanges.surbitcoin.keywords %}">
      <meta property="og:title" content="{% t exchanges.surbitcoin.title %}">
      <meta property="og:description" content="{% t exchanges.surbitcoin.description %}">
    {% else %}
      <meta name="description" content="{% t exchanges.demo.description %}">
      <meta name="keywords" content="{% t exchanges.demo.keywords %}">
      <meta property="og:title" content="{% t exchanges.demo.title %}">
      <meta property="og:description" content="{% t exchanges.demo.description %}">
  {% endcase %}

  <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_social_network_share.png">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_favicon.ico">
  <link rel="icon" href="{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_favicon.ico" type="image/x-icon">

  <!-- Feed -->
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

  <meta charset="utf-8">

  <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{% if page.url != '/index.html' %}{{ page.url }}{% endif %}"/>
  <script type="text/javascript" src="//apis.google.com/js/plusone.js"></script>

  <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/font-awesome.min.css" rel="stylesheet">

  {% if page.load_application %}
  <!--link href="/assets/themes/default/css/Dialog.css" rel="stylesheet"-->
  <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/fuelux.css" rel="stylesheet">
  <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/default/css/style-new.css?v={{ site.deploy_version }}" rel="stylesheet">
  <link href="{{ site.url }}{{ site.baseurl }}/assets/themes/ander/css/blinktrade.css?v={{ site.deploy_version }}" rel="stylesheet">
  <script data-cfasync="false" src="{{ site.url }}{{ site.baseurl }}/assets/js/bitex_app_blink_trade.compiled.{{site.lang}}.ander.js?v={{ site.deploy_version }}" type="text/javascript"></script>
  {% endif %}
</head>
<body class="{% if page.body_classes %} {{ page.body_classes }} {% endif %}">


<!-- .head -->
<header id="id_toolbar" class="head">
  <!-- .wrapper -->
  <div class="wrapper">
    <!-- .layout -->
    <div class="layout layout--full">
      <div class="layout__item two-tenths portable--one-whole">
        <!-- .logo -->
        {% if page.load_application %}
        <a href="#" class="logo brand-face" data-switch-view="offerbook" style="padding-top: 0px;">
          <img data-switch-view="offerbook" class="logo__img" src="{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_toolbar_logo.png" style="
                height: 30px;
                margin-top: -10px;
                margin-bottom: -10px;
            ">
        </a>
        {% else %}
          <a class="logo brand-face" href="{{ site.baseurl }}/" title="">
            <img src="{{ site.baseurl }}/assets/exchange_logos/{{ site.exchange_logo }}_toolbar_logo.png" alt="" class="logo__img" style="
                height: 30px;
                margin-top: -10px;
                margin-bottom: -10px;
            />
          </a>
        {% endif %}
        <!-- /.logo -->

        <div id="js--head-btn" class="head__btn">
            <img src="/assets/themes/default/img/head-btn.png" />
        </div>
      </div>

      <script type="text/javascript">
          var headBtn = document.getElementById('js--head-btn');

          headBtn.onclick = function() {
              var menu = document.getElementById('menu'),
                  menuClass = menu.getAttribute("class");

            if (menuClass !== "head__nav") {
                menu.className = "head__nav";
            } else {
                menu.className = "head__nav head__nav--open";
            }
          }
      </script>

      {% if page.load_application %}
      <div class="layout__item eight-tenths portable--one-whole">
        <!-- .head__nav -->
        <div id="menu" class="head__nav">
          <!-- .layout -->
          <div class="layout layout--full">
            <nav class="layout__item eight-tenths portable--one-whole">
              <!-- .head__nav-left -->
              <ul class="head__nav-left">
                <li class="bitex-display-if-logged">
                  <!--li-->
                  <span>

                      <i class="icon-user"></i> <span class="bitex-model bitex-view-title" data-model-key="DisplayName"></span>
                  </span>

                  <!-- .head-dropdown -->
                  <ul class="head-dropdown">
                    <li>
                      <a href="#profile" title="Profile" data-switch-view="profile">
                        {% t views.sidebar.my_profile %}
                      </a>
                    </li>
                    <li>
                      <a href="#my_broker" title="Broker info" data-switch-view="my_broker">
                        {% t views.sidebar.my_broker %}
                      </a>
                    </li>
                    <li class="bitex-display-if-broker">
                      <a href="#customers" title="Customers" data-switch-view="customers">
                        {% t views.sidebar.customers %}
                      </a>
                    </li>
                    <li class="bitex-display-if-broker">
                      <a href="deposit_requests" title="Deposit" data-switch-view="deposit_requests">
                        {% t views.sidebar.deposit_requests %}
                      </a>
                    </li>
                    <li class="bitex-display-if-broker">
                      <a href="withdraw_requests" title="Withdraw" data-switch-view="withdraw_requests">
                        {% t views.sidebar.withdraw_requests %}
                      </a>
                    </li>
                    <li>
                      <a href="#deposit" title="Deposit" data-switch-view="deposit">
                        {% t views.sidebar.deposit %}
                      </a>
                    </li>
                    <li>
                      <a href="#withdraw" title="Withdrawals" data-switch-view="withdraw">
                        {% t views.sidebar.withdraw %}
                      </a>
                    </li>
                  </ul>
                  <!-- /.head-dropdown -->
                </li>
                <li class="bitex-display-if-logged">
                  <a href="#offerbook" data-switch-view="offerbook">
                    <i class="icon-book"></i> {% t views.sidebar.offerbook %}
                  </a>
                </li>
                <li class="bitex-display-if-logged">
                  <a href="#trading" title="Buy or Sell" data-switch-view="trading">
                    <i class="icon-random"></i> {% t views.sidebar.trading %}
                  </a>
                </li>
                <li class="bitex-display-if-logged">
                  <a href="#ledger" title="Ledger" data-switch-view="ledger">
                    <i class="icon-list"></i> {% t views.sidebar.ledger %}
                  </a>
                </li>
                <li>
                  <a data-switch-view="market" href="#market" title="Market">
                    <i class="icon-bar-chart"></i> {% t views.toolbar.market %}
                  </a>
                </li>
                <li class="bitex-hide-if-logged">
                  <a data-switch-view="signup" href="#signup" title="Signup">
                    <i class="icon-signin"></i> {% t views.toolbar.signup %}
                  </a>
                </li>
              </ul>
              <!-- /.head__nav-left -->
            </nav>

            <nav class="layout__item two-tenths portable--one-whole cf">
              <!-- .head__nav-right -->
              <ul class="head__nav-right">
                <li >
                  <span>{{ site.lang|upcase }}</span>
                  <ul class="head-dropdown head-dropdown--right">
                  {% for lang in site.languages %}
                    {% if  lang != site.lang  %}
                      {% if forloop.first %}
                        <li><a tabindex="-1" href="{{ site.url }}{{ site.baseurl_root }}/themes/ander/">{{ lang|upcase }}</a></li>
                      {% else %}
                        <li><a tabindex="-1" href="{{ site.url }}{{ site.baseurl_root }}/{{lang}}/themes/ander/">{{ lang|upcase }}</a></li>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  </ul>
                </li>

                <li class="bitex-hide-if-ws-connected">
                    <a href="#" id="id_button_connect_ws">
                        <i class="icon-white icon-repeat"></i> Connect
                    </a>
                </li>

                <li class="head__nav-last-item bitex-hide-if-logged">
                  <a data-switch-view="signin" href="#signin" title="Login">
                    <i class="icon-power-off"></i> {% t views.toolbar.signin %}
                  </a>
                </li>

                <li class="head__nav-last-item bitex-display-if-logged">
                  <a href="javascript:location.reload()">
                    <i class="icon-power-off"></i> {% t views.sidebar.logout %}
                  </a>
                </li>
              </ul>
              <!-- /.head__nav-right -->
            </nav>
          </div>
          <!-- /.layout -->
        </div>
        <!-- /.head__nav -->
      </div>
      {% endif %}
    </div>
    <!-- /.layout -->
  </div>
  <!-- /.wrapper -->
</header>
<!-- /.head -->





