.broker-terms__iframe {
    height: 400px;
    width: 100%;
    border: 1px solid #ddd
}

.broker-wallet {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
