.foot {
    border-top: 1px solid #eee;
    padding: 30px 0;
    /* text-align: left; */
    a {
      color: #44515b;
      font-weight: 600;
    }

    ul{
      list-style: none;
      padding-left: 0px;
    }

    .center{
      text-align: center;
    }

    .foot-social{
      text-align: center;

      .col-xs-2 {
        float: none;
        margin: auto;
        display: inline-block;
      }

      .social-button {
        text-align: center;
        border: 1px solid #ddd;
        width: 50px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;

        h3{
          margin-top: 13px;
          margin-left: 2px;
        }
      }
    }
}

.foot-nav {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
        display: inline-block;
    }
}
