.thumb-theme{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #ddd;
    background: white;
    img{
        max-width: 100%;
        border: 1px solid #ddd;
    }
    h3{
        margin-top: 10px;
    }
}
