/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */

/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */

.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;

  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;

  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(http://ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.goog-buttonset-default {
  font-weight: bold;
}

/* Need to override bootstrap */
.modal {margin: 0;}


.modal {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: table;
    width: 50%;
    top: 50%;
    z-index: 99999;
    position: fixed;
    border: 3px solid rgba(0, 0, 0, 0.35);
}

.modal > .modal-header {
    margin-top: 20px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
    padding-top:10px;
    border-bottom: 1px solid #E8683E;
    cursor: move;
}

.modal > .modal-header > a.close {
    position:absolute;
    margin-top: -10px;
    right: 20px;
    font-size: 30px;
    font-weight: 100;
    color: #E8683E;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 40px;
    transition: .2s;
}
.modal > .modal-header > a.close:hover {
    background: #D7D7D7;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}


.modal > .modal-body {
    padding: 25px
}

.modal > .modal-footer {
    background-color: #eee;
    padding:20px;
    text-align:right;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
}
.modal > .modal-footer > .btn{
    border: 2px #E8683E solid !important;
    text-transform: uppercase;
    transition: .3s;
    border-radius: 50px !important;
    display: inline-block;
    background-color: #FFF;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 6px 11px 7px;
    cursor: pointer;
}
.modal > .modal-footer > .btn:hover{
    border-color: #CCC;
    background:#E5E5E5;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}

.modal > .modal-footer > .btn-primary{
    background-color: #E8683E;
    color: white;
}
.modal > .modal-footer > .btn-primary:hover{
    background-color: #E8683E;
    color: white;
}

.modal-bg {
    background-color: rgba(255,255,255,0.6);
    opacity: 1 !important;
    -ms-filter: none;
    -webkit-filter: none;
    filter: none;
    z-index: 9999
}
