.home-banner {
    background-position: center center;
    background-size: cover;
}

.home-orders {
    background: #fafafa url(../img/livetrade-bg.png);
    background-position: center center;
    border-top-color: rgba(41, 47, 51, 0.08);
}

.home-contact {
    background: #f5fafd;
    border-top-color: rgba(41, 47, 51, 0.08);
}
